hinhtron {
    position: absolute;
    border: 8px solid red;
    border-radius: 20%;
    z-index: 0;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: soay-hinhtron 5s linear infinite, dichuyen-hinhtron 10s linear infinite; /* Sử dụng dấu phẩy để phân tách animation */
}
@keyframes soay-hinhtron {
    0% { 
        transform: rotate(0deg);
        opacity: 0; /* Khi bắt đầu, làm mờ */
    }
    50% {
        opacity: 100; /* Trong nửa đầu của animation, giữ opacity là 1 */
    }
    100% { 
        transform: rotate(360deg);
        opacity: 0; /* Khi kết thúc, làm mờ */
    }
}
@keyframes dichuyen-hinhtron {
    0% { left: 0; }
    30% { top: calc(10% - 10px); }
    40% { left: 40; }
    60% { top: calc(50% * 10px); }

    100% { left: calc(100% - 100px); }
}

